<%- include('includes/head') %>
    </head>

    <body>
        <header class="main-header">
            <%- include('includes/navigation') %>
        </header>
        <h1>Fage Not Found</h1>
        <%- include('includes/footer') %>